data/*.csv
data/CA_Counties/CA_Counties_TIGER*
backend/data/*.csv
backend/data/CA_Counties/CA_Counties_TIGER*
backend/flu_region/*.csv
backend/flu_region/*/*.csv
backend/flu_region/pred_maps/
frontend/flask/static/fluRegionMaps/pred_maps
frontend/flask/static/fluRegionMaps/maps
frontend/flask/static/*/maps
frontend/djangoNightmare
backend/popDensity/query.osm
backend/popDensity/maps/*
backend/popDensity/pred_maps/*
backend/water-contamination/maps/*
frontend/flask/static/*/maps/*
frontend/flask/static/*/pred_maps/*