<!DOCTYPE html>
<html>
<head>
    <title>Predictive Flu Mapping</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="{{ url_for('static', filename='css/ui.css') }}?{{r}}" rel="stylesheet"></link>
    <script>
        function updateImage(year, week) {
            let data = {{ data | tojson |safe }}
            let weekFormatted = week.toString().padStart(2, '0');
            let imagePath, isPredicting = false;

            if( year > data.knownData.range[1][0] || ( year == data.knownData.range[1][0]&& week > data.knownData.range[1][1] ) ){
              isPredicting = true;
              imagePath = data.predictions.path + year + weekFormatted + '.html';
            } else {
              imagePath = data.knownData.path + year + weekFormatted + '.html';
            }
            
            //console.log( year, week  )
            if(  
              ( year == data.knownData.range[0][0] && week < data.knownData.range[0][1] ) ||
              ( year >= data.predictions.range[1][0] && week > data.predictions.range[1][1] ) 
            ){
              $( '#display p.error').text( 'No Data for that time' ).show()
              $( '#heatmap' ).hide()
              $('#display p.datatype').hide()
              return
            }
            $('#display p.datatype').show()
            $('#display p.datatype').text( isPredicting ? 'Predicted Data' : 'Actual Data')
            $('#display p.error').hide()
            $( '#heatmap' ).show()
            document.getElementById('heatmap').src = imagePath;
        }

        function updateSlider() {
            let year = document.getElementById('yearInput').value;
            let week = document.getElementById('weekInput').value;
            document.getElementById('yearSlider').value = year;
            document.getElementById('weekSlider').value = week;
            updateImage(year, week);
        }

        function syncInputWithSlider(sliderId, inputId) {
            let slider = document.getElementById(sliderId);
            let input = document.getElementById(inputId);
            input.value = slider.value;
            updateSlider();
        }

        window.onload = function() {
            syncInputWithSlider('yearSlider', 'yearInput');
            syncInputWithSlider('weekSlider', 'weekInput');
        };
    </script>
</head>
<body>
    {{nav|safe}}
    <h1>Simple flu by region with population density heatmap</h1>
    <div>
        <label for="yearSlider">Year:</label>
        <input type="range" id="yearSlider" value="{{data.knownData.range[0][0]}}"  min="{{data.knownData.range[0][0]}}" max="{{data.predictions.range[1][0]}}" step="1" onchange="syncInputWithSlider('yearSlider', 'yearInput')">
        <input type="number" id="yearInput" value="{{data.knownData.range[0][0]}}" min="{{data.knownData.range[0][0]}}" max="{{data.predictions.range[1][0]}}" step="1" onchange="updateSlider()">
    </div>
    <div>
        <label for="weekSlider">Week:</label>
        <input type="range" id="weekSlider" value="{{data.knownData.range[0][1]}}" min="1" max="52" step="1" onchange="syncInputWithSlider('weekSlider', 'weekInput')">
        <input type="number" id="weekInput" value="{{data.knownData.range[0][1]}}" min="1" max="52" step="1" onchange="updateSlider()">
    </div>
    <div id="display">
      <p class="error"></p>
      <p class="datatype"></p>
      <iframe id="heatmap" width="100%" height="800" src="static/popDensity/maps/200140.html"></iframe>
    </div>
</body>
</html>
